body,
html {
  width: 100vp;
  overflow-x: hidden;
}

body {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  max-width: 100%;
  margin: 0 auto 10% auto;
}

/*header*/

header {
  margin: 50px;
  text-align: center;
}

header img {
  width: 60%;
}
/*Headlines*/

h1,
h2 {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
}

.featured {
  padding-top: 40px;
  width: 80%;
  margin: auto;
}

.featured h1 {
  text-align: left;
}

.featured__flex {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.featured__1,
.featured__2 {
  width: 45%;
}

.image__wrapper {
  position: relative;
}

.image__wrapper .overlay {
  position: absolute;
  bottom: 0%;
}

/*images mobile*/

.featured__link--image {
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 10px #36545c);
}

.cta__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 23%;
  margin-top: 10px;
}

.cta__container .cta {
  margin-top: 5px;
}

.featured__profile {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.4);
  height: 60px;
  width: 100%;
  border-radius: 10px;
}

.overlay p {
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  margin-top: 20px;
}

.creators {
  width: 80%;
  height: 200px;
  margin: auto;
}

.creators h2 {
  text-align: left;
}

.creators__wrapper {
  display: flex;
  justify-content: space-between;
}

.creators__profile {
  width: 75px;
  border-radius: 50%;
}

/*creators*/

h2 {
  margin-top: 50px;
}

/*cta*/

a {
  text-decoration: none;
}

.cta {
  color: #000;
  background-color: #fff;
  padding: 5px 13px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.7em;
  display: inline-block;
  margin-left: 5px;
}

.cta:hover {
  color: #fff;
  background-color: #e39d18;
  border: 1px solid #e39d18;
}

/*footer navigation*/

.nav__bar {
  background-color: #36545c;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
}

.nav__icon {
  font-size: 200%;
}

.nav__search {
  font-size: 280%;
  font-weight: 900;
}

.nav__active {
  background-color: #64868f;
  min-width: 80px;
  min-height: 70px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__bar a {
  color: #fff;
}
