body,
html {
  width: 100vp;
}

body {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin: 0;
}

/*header*/

header {
  text-align: center;
  margin: 50px;
}

header img {
  width: 70%;
}

/*Headlines*/

h1,
h2 {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 40px;
}

h2 {
  font-weight: 600;
}

.featured {
  padding-top: 10px;
}

.featured__flex {
  display: flex;
}

/*images mobile*/

.featured__link--image {
  object-fit: cover;
  width: 219px;
  height: 219px;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 10px #36545c);
  margin-left: 40px;
}

.featured__profile {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

.creators__wrapper {
  margin-left: 40px;
}

.creators__profile {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

/*creators*/

h2 {
  margin-top: 50px;
}

/*cta*/

a {
  text-decoration: none;
}

.cta {
  color: black;
  background-color: #fff;
  padding: 5px 13px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 40px;
  margin-top: 10px;
  display: table;
}
